@import './reset.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=cyrillic');

// =================
// Variables
// =================
$background-primary: #DFE3E6;
$background-secondary: #FFFFFF;

$text-primary: #000000;
$text-secondary: #6B808C;
$text-placeholder: #B8B9BB;
$text-button-primary: #FFFFFF;

$dragging-placeholder: #C9D2D9;

$button-primary: #39C071;

$border-radius-primary: 0.25rem;

// =================
// General
// =================
html {
  font-size: 13px;
}

.button, .input, .textarea {
	border: none;
	outline: none;
  font-family: inherit;
  line-height: inherit;
}

.button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.box {
  padding: 0.6rem 1rem;
  background-color: $background-secondary;
  box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
  border-radius: $border-radius-primary;
}

// =================
// Grid
// =================
.row, .column {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
  min-height: 0;
}

// =================
// App
// =================
.app {
  align-items: flex-start;
  height: 100vh;
  padding: 1.5rem;
  overflow-x: auto;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
  background-image: url(./assets/img/background.jpg);
  background-size: cover;
  background-position: center;
}

// =================
// Lane
// =================
.lane {
  flex: 1 1 0;
  max-width: 25%;
  margin-right: 1rem;
  border-radius: $border-radius-primary;
  background-color: $background-primary;
  max-height: 100%;

  &:last-of-type {
    margin-right: 0;
  }
}

.lane__header {
  padding: 0.6rem 1rem 0 1rem;
  margin-bottom: 0.5rem;
  word-wrap: break-word;
  font-weight: bold;
  color: $text-primary;
}

.lane__body {
  padding: 0 1rem;
  overflow-y: auto;
  color: $text-primary
}

// =================
// Card
// =================
.card {
  margin-bottom: 0.6rem;
  word-wrap: break-word;
  white-space: pre-line;
  cursor: grab;

  &:first-of-type {
    margin-top: 0.5rem;
  }
}

.card_dragging {
  background-color: $dragging-placeholder;
  color: $dragging-placeholder;
  box-shadow: none;
}

// =================
// Add new element
// =================
.add-new {
  padding: 1rem;
  border-radius: $border-radius-primary;
  color: $text-secondary;
  background-color: $background-primary;
}

.add-new_lane {
  flex: 1 1;
  max-width: 25%;
}

.add-new_card {
  padding-top: 0;
}

.add-new__placeholder-card {
  margin-top: 0.4rem;
}

.add-new__input, .add-new__textarea {
  margin-bottom: 0.6rem;

  &::placeholder {
    color: $text-placeholder;
  }
}

.add-new__textarea {
  resize: none;
}

.add-new__buttons {
  justify-content: space-between;
}

.add-new__icon-add {
  margin-right: 0.6rem;
}

.add-new__button {
  padding: 0.5rem 0.6rem;
  border-radius: $border-radius-primary;
  background-color: $button-primary;
  font-weight: bold;
  color: $text-button-primary;
}